@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
    background-color: rgb(0, 0, 0);
    background-image: url(../imgs/Back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
}

#jogo{
   
    display: inline-block;
    background-color: rgb(51, 51, 51);  
    border-radius: 0.375em; 
}

#resultado{
    margin-left: 30px;
}
#resposta{
    font-size: 30;
    font-style: italic;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.linha{
    height: 200px;
    border-bottom: solid 1px;
}
img{
    margin-top: 20%;
    height: 100px;
    width: 100px;
}
.casa{
    width: 200px;
    height: 100%;
    border-right: solid 1px;
    float: left;
}

.xis, .bola, .velha{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: bold;
}

input[type=button], input[type=submit], input[type=reset], .btnNovoJogo{
    background-color: rgb(55, 42, 59);
    background-image: linear-gradient(to bottom, #d39d56, #ce5d12);
    border-radius: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: 100;
    padding: 40px;
    text-decoration: none;
    box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: none;
    display: inline-block;
    cursor: pointer;
}

input[type=button]:hover, .btnNovoJogo:hover{
    background: rgb(255, 255, 255);
    background-image: linear-gradient(to bottom, #000000, #ac7e39);
    text-decoration: none;
}

a{
    text-decoration: none;
    color: #fff;
}