@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
    background-color: #2E3532;
}

.caixaFilmes{
    margin: 2em;
}

.filmesNomes{
    margin: 25px;
    font-size: x-large;
}

.trocarPalavraButton{
    border: none;
    padding: 0.5em;
    border-radius: 0.4em;
    margin: 5px;
}

.trocarPalavraButton:hover{
    background-color: #000;
    color: #fff;
}

.palavraDigitada{
    border: none;
    padding: 0.5em;
    border-radius: 0.4em;
    outline: none;
    background-color: rgba(255, 247, 171, 0.333);
}

fieldset{
    margin: 1em solid;
    border-radius: 0.5em;
    background-color:#C7CEDB ; 
    margin: 200px;
    padding: 0.010em;
    border-color: #BCAA99;
}

@media (max-width: 775px)
{
  .areaInputs{
        flex-wrap: wrap;
   }
}


