@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}



body{
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
    background-image: url(../imgs/Back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.caixaFilmes{
    margin: 5em;
    color: #fff;

}

strong{
    color: rgb(100, 177, 177);
}

.filmesNomes{
    margin: 25px;
    font-size: x-large;
}

.trocarPalavraButton{
    border: none;
    padding: 0.5em;
    border-radius: 0.4em;
    margin: 5px;
}

.trocarPalavraButton:hover{
    background-color: #000;
    color: #fff;
}

.palavraDigitada, .backIndex{
    border: none;
    padding: 0.5em;
    border-radius: 0.4em;
    outline: none;
    background-color: #fff;
}

.backIndex:hover{
    background-color: #000;
    color: #fff;
}

fieldset{
    margin: 1em solid;
    border-radius: 0.5em;
    margin: 200px;
    padding: 0.5em;
    border-color: #BCAA99;
    background: rgba(255, 255, 255, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 775px)
{
  .areaInputs{
        flex-wrap: wrap;
   }
}


